<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>header {
    height:180vh;
    min-height:400px;
    background-size:cover;
    background-image:url('https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
}

.hidden-spacer {
    height: 56px
}</style>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>Home Page</title>
</head>

<body class="d-flex flex-column h-100" style="text-align:center;">
    <div class="bg-image" 
     style="background-image: url('https://i.ibb.co/ggsXngt/pat.jpg');background-repeat: no-repeat;

  /* Center and scale the image nicely */
  
  
  background-size:cover;
            height: 100vh">

	<br>
	<br>
	<h1 style="text-align:center;">PersonaCovid Application</h1>
	<br>
	<br>
<!--	<nav class="navbar navbar-expand-lg ">
		<div class="container px-5">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav justify-content-center">
					<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
					<li class="nav-item"><a class="nav-link" href="/registration">Sign Up</a></li>
					<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
					<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
				</ul>
			</div>

		</div>
	</nav>-->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/registration"><h4>Sign Up</h4></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><h4>Log In</h4></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/registration"><h5>Contact Us<h5></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
	<br>
	<br>
	<br>
	<br>
	<div>
		<h4 class="display-5 fw-bolder text-white mb-2">Find different hospitals at one place
		</h4><br>
		<h6 class="display-5  text-white mb-2">You can quickly schedule your Appointment.</h6><br>
		<h6 class="display-5  text-white mb-2">You can Easily register yourself for
			vaccination.</h6><br>
		<h6 class="display-5 text-white mb-2">Stay Safe Stay Healthy!</h6><br>
		<h3 class="display-5 fw-bolder text-white mb-2">#TogetherWeCanFight</h3>
		<br>
		<br>
		<br>
		<br>
	</div>
	<!-- Footer-->
	<footer class=" py-4 mt-auto">
		<div class="container px-5">
			<div class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto">
					<div class="small m-0 text-white">Copyright &copy; Your Website 2021</div>
				</div>
				<div class="col-auto">
					<a class="link-light small" href="#!">Privacy</a>
					<span class="text-white mx-1">&middot;</span>
					<a class="link-light small" href="#!">Terms</a>
					<span class="text-white mx-1">&middot;</span>
					<a class="link-light small" href="#!">Contact</a>
				</div>
			</div>
		</div>
	</footer>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>

	<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

    </div>
</body>

</html>