<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Schedule Appointment</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	<script>
		$(function () {
			$('#datetimepicker1').datetimepicker();
		});  
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
	<!--<style>  
    .container {  
        margin-top: 5px;  
        margin-left: 10px;  
        width: 600px;  
    }  
</style>  -->


</head>

<body>
	<div class="container">
		<h1>Schedule Appointment</h1>
		<hr>
		<h2>Update Appointment Details</h2>

		<form action="#" th:action="@{/updateAppointment}" th:object="${appointment}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{p_id}" />

			<div class="container">
				<div class="row">
					<div class='col'>
						<div class="form-group ">
							<div class='input-group date col-4' id='datetimepicker1'>
								<input type='text' th:field="*{date}" placeholder="Date and Time"
									class="form-control" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar "></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<label for="doctorName">Doctor Name:</label>
			<select th:field="*{doctor}" class="form-control mb-4 col-4">
				<option value=""> -- </option>
				<option th:each="doc : ${doctor}" th:value="${doc.d_id}" th:utext="${doc.firstName}" />
			</select>
			
			<!--input type="text" th:field="*{hospitalName}" class="form-control mb-4 col-4">

			<input type="text" th:field="*{doctorName}" class="form-control mb-4 col-4"-->
			<!--label for="hospitalName" >Hospital Name:</label>
			<select name="hospitalName" id="hospitalName" class="form-control mb-4 col-4">
				<option value="" selected disabled hidden>Choose here</option>
				<option value="City Hospital">City Hospital</option>
				<option value="Mamata Hospital">Mamata Hospital</option>
				<option value="Krisha Hospital">Krisha Hospital</option>
				<option value="Rubi Hall Hospital">Rubi Hall Hospital</option>
				<option value="Noble Hospital">Noble Hospital</option>
			</select>
			
			<label for="doctorName" >Doctor Name:</label>
			<select name="doctorName" id="doctorName" class="form-control mb-4 col-4">
				<option value="" selected disabled hidden>Choose here</option>
				<option value="Agarwal">Agarwal</option>
				<option value="Batra">Batra</option>
				<option value="Pathak">Pathak</option>
				<option value="Patki">Patki</option>
				<option value="Vaidya">Vaidya</option>
			</select-->





			<button type="submit" class="btn btn-info col-2"> Update Appointment</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Appointment List</a>
	</div>
</body>

</html>